body {
  background: white;
}

.texts {
  top: 1px;
  margin: auto;
  font-size: 1.2em;
  color: green;
  font-weight: 700;
  padding: 12px;
  text-align: center;
}

header {
  margin-top: 50px;
}

.container-fluid {
  padding-top: 25px;
  height: 435px;
  background: white;
}

.thumbnail {
  height: 395px;
  width: 335px;
  border: none;
  border-radius: 0;
}

h1 {
  color: green;
  text-align: center;
}

h2 {
  font-weight: 700;
  color: green;
  text-align: center;
}

h3 {
  color: green;
  text-align: center;
}

.navbar {
  margin-bottom: 0;
  background-color: lightskyblue;
  z-index: 9999;
  border: 0;
  color: green;
  font-weight: 700;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
